.time-limit {
  display: block;
}

.my-button-submit {
  background-color: #2a598f;
  color: #fefefe;
}

.radio-choice {
  min-width: 16px;
}

.full-screen {
  width: 100%;
  padding: 20px;
  text-align: center;
}
