.quiz-form-container {
  max-width: 70%;
  margin: 0 3rem;
}

.my-button {
  background-color: #7cebad;
  border-color: transparent;
}

@media screen and (max-width: 840px) {
  .quiz-form-container {
    max-width: 100%;
    margin: 0 1rem;
  }
}