.quiz-form-container {
  max-width: 70%;
  margin: 0 3rem;
  padding-bottom: 40px;
  min-height: calc(100vh - 250px);
}

.my-button, .uk-button-default:focus {
  background-color: #7cebad;
  border-color: transparent;
}

.quiz-image {
  max-width: 100%;
  max-height: 500px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 840px) {
  .quiz-form-container {
    max-width: 100%;
    margin: 0 1rem;
  }
}