* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

.member-thumbnail {
  height: 2.25rem;
  border-radius: 9999px;
  margin-bottom: 0.25rem;
}

.member-info {
  font-size: 12px;
  width: 85px;
}

footer {
  color: #333;
  background-color: #e1e1e1;
}

.credit-text {
  font-size: 13px;
  padding: 10px;
}