* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    /* background-color: #7CEDAB; */
    text-align: center;
    padding: 10px;
}

.signupWrapper{
    max-width: 640px;
    margin: 40px auto;
    /* background-color: #E1E1E1; */
}

.formTabs {
    margin-bottom: 20px;
}

.formTabs button {
    background-color: #fff;
}

.formTabs button:not(:first-child) {
    margin-left: 20px;
}

.teacherForm {
    padding: 0 20px;
}

.teacherForm input {
    width: 100%;
}

.teacherForm select {
    height: 38px;
}

.stateSel {
    margin: 0 20px;
}

.schoolSelect {
    width: 100%;
}

#loginBtn {
    background-color: #7CEDAB;
    border: none;
    font-weight: 400;
    color: #FAF9F8;
    letter-spacing: 1.2px;
}

.primaryBtn {
    background-color: #7CEDAB;
    border: none;
    font-weight: 400;
    color: #FAF9F8;
    letter-spacing: 1.2px;
}

.primaryBtn:hover, #loginBtn:hover {
    background-color: #44BC74;
}

.secondaryBtn {
    background-color: #d3d3d3;
    border: none;
    font-weight: 400;
    color: #444;
    letter-spacing: 1.2px;
}

.secondaryBtn:hover {
    background-color: #b1b1b1;
}

.schoolSearchBtn {
    height: 38px;
}

.loginText {
    margin-top: 20px;
}

.loginLink {
    color: #44BC74;
}

.loginLink:hover {
    color: rgb(41, 175, 95);
}



/* Medium devices (landscape tablets, 768px and below) */
@media only screen and (max-width: 768px) {
    .signupContainer {
        flex-direction: column;
    }

    .signupContainer > div:not(:first-child) {
        width: 100%;
    }

    .signupContainer > div:first-child {
        margin: 0 auto;
    }
}
