* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    background-color: #7CEDAB;
    text-align: center;
    padding: 10px;
}

.signupWrapper{
    max-width: 640px;
    margin: 40px auto;
    background-color: #E1E1E1;
}

.formTabs {
    margin-bottom: 20px;
}

.teacherForm {
    padding: 0 20px;
}

.teacherForm input {
    width: 100%;
}

.stateSel {
    margin-left: 20%;
}

#loginBtn {
    background-color: #7CEDAB;
    border: none;
    font-weight: 400;
    color: #FAF9F8;
    letter-spacing: 1.2px;
}

#signupBtn {
    background-color: #7CEDAB;
    border: none;
    font-weight: 400;
    color: #FAF9F8;
    letter-spacing: 1.2px; 
    margin-left: 30px;
}

#signupBtn:hover, #loginBtn:hover {
    background-color: rgb(79, 194, 127);
}
