* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.studentCard {
    border: 1px solid #c0c0c0;
    box-shadow: none;
    min-width: 200px;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.studentCard img {
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
}

.studentName {
    font-size: 20px;
}

.studentInfo {
    font-size: 14px;
}


/* Medium devices (landscape tablets, 768px and below) */
@media only screen and (max-width: 768px) {
    .studentCard {
      min-width: none;
      width: 100%;
    }
  }