* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    padding: 10px;
}

.loginWrapper{
    max-width: 640px;
    margin: 40px auto;
}

.loginForm {
    padding: 0 20px;
}

.loginForm input {
    width: 100%;
}

.loginForm select {
    height: 38px;
    width: 100%;
    max-width: 260px;
    padding-left: 10px;
}

.primaryBtn {
    background-color: #7CEDAB;
    border: none;
    font-weight: 400;
    color: #FAF9F8;
    letter-spacing: 1.2px;
}

.primaryBtn:hover {
    background-color: #44BC74;
}

.signupText {
    margin-top: 20px;
}

.signupLink {
    color: #44BC74;
}

.signupLink:hover {
    color: rgb(41, 175, 95);
}


/* Medium devices (landscape tablets, 768px and below) */
@media only screen and (max-width: 768px) {
    .loginContainer {
        flex-direction: column;
    }

    .loginContainer > div:not(:first-child) {
        width: 100%;
    }

    .loginContainer > div:first-child {
        margin: 0 auto;
    }
}